body {
    /* background-color: black; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.438);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 4;

    img {
        width: 140px;
        margin: 0 0 0 0;
        filter: drop-shadow(2px 2px 10px black);
        transition: all 0.5s;
    }
    
    a {
        color: white;
        margin-left: 10px;
        font-size: 12px;
        background-color: purple;
        padding: 5px 15px;
        border-radius: 20px;
        transition: all 0.2s;
    }

    div:nth-child(2) {
        margin-top: 8px;
    }

    a:hover {
        background-color: white;
        color: purple;
    }
}

h1 {
    text-align: center;
    margin: 40px 0 0;
}

.dates {
    padding: 10px;
    width: 90vw;
    overflow-x: auto;
    display: flex;
    justify-content: safe;
    scroll-behavior: smooth;
}

.dates::-webkit-scrollbar {
    display: none;
  }

.cntr {
    display: flex;
    justify-content: center;
}

.date {
    height: 65px;
    /* width: 50px; */
    padding: 0 12px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: auto 12px;
    text-align: center;
    cursor: pointer;
    flex-shrink: 0; /* Prevent dates from shrinking */
}

.date h4 {
    margin: 6px auto 3px;
    font-size: small;
    color: gray;
}

.date h2 {
    margin: 0;
    font-size: larger;
}

.avalability {
    width: 5px;
    height: 5px;
    background-color: green;
    border-radius: 50%;
    margin: 7px 3px;
}

a{
    text-decoration: none;
}

.date.selected {
    background-color: white;
    color: black;
    border-color: royalblue;
}
.djs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    color: purple;
    .dj{
        width: 90%;
        /* aspect-ratio: 0.7; */
        background-color: white;
        /* border: 2px solid white; */
        margin: 10px auto;
        border-radius: 20px;
        text-align: center;
        padding-bottom: 10px;
        img{
            width: 100%;
            border-radius: 20px 20px 0 0;
        }
        .details{
            width: 100%;
            text-align: center;
            h1{
                margin: 10px 0;
                color: black;
            }
            p{
                margin: 0;
            }
            h2{
                color: red;
            }
        }
        
        button{
            border: none;
            background-color: green;
            border-radius: 10px;
            font-size: 20px;
            color: white;
            padding: 7px 13px;
        }
    }
}
.catagory{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .sub-catagory{
        width: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .cat-dj{
        margin-top: 20px;
        width: 90%;
        aspect-ratio: 2;
        background-image: url("https://i.ytimg.com/vi/pXmYk1Wuqa0/maxresdefault.jpg");
        background-size: cover;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 90px;
        font-weight: bolder;
        text-shadow: 2px 2px 10px black;
        color: rgba(255, 255, 255, 0.577);
        transition: all 0.3s;
    }
    .cat-oth{
        margin-top: 18px;
        width: 43%;
        aspect-ratio: 1.1;
        /* background-image: url("https://i.ytimg.com/vi/YoapuNLVUF8/maxresdefault.jpg"); */
        background-size: cover;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align:center;
        justify-content: flex-end;
        font-size: 25px;
        font-weight: bolder;
        text-shadow: 2px 2px 10px black;
        color: rgb(255, 255, 255);
        transition: all 0.3s;
        padding-bottom: 15px;
    }
    .cat-oth:nth-child(1){
        background-image: url("https://shaadiwish.com/blog/wp-content/uploads/2022/08/accent-fairy-lights-decor-17.jpg");
    }
    .cat-oth:nth-child(2){
        background-image: url("https://t3.ftcdn.net/jpg/06/60/12/92/360_F_660129269_rqFR78uAZ8MCUuLbvo9WLoJvsyUXkG8f.jpg");
    }
    .cat-oth:nth-child(3){
        background-image: url("https://5.imimg.com/data5/ANDROID/Default/2021/5/IP/IA/BO/13372070/product-jpeg.jpg");
    }
    .cat-oth:nth-child(4){
        background-image: url("https://5.imimg.com/data5/YK/LH/MY-49574912/platinum-package-500x500.jpg");
    }
    .cat-dj:hover, .cat-oth:hover{
        scale: 0.95;
    }
}
.desc{
    text-align: center;
    margin: 50px 30px;
    font-size: 12px;
    color: gray;
}
.catagory{
    display: flex;
    justify-content: center;
    button{
        border: none;
        border-radius: 20px;
        padding: 7px 15px;
        font-size: 17px;
        font-weight: bold;
        margin: 5px 15px 15px;
        background-color: rgba(255, 255, 255, 0.292);
        color: white;
        transition: all 0.2s;
    }
    button:hover{
        background-color: #fff;
        color: black;
    }
    .active{
        background-color: #fff;
        color: black;
    }
}


@media only screen and (min-width: 720px) {
    header {
        img {
            width: 180px;
        }

        div:nth-child(2){
            margin-top: 13px;
        }
    
        a {
            color: white;
            margin-left: 20px;
            font-size: 16px;
            background-color: purple;
            padding: 6px 20px;
            border-radius: 20px;
            transition: all 0.2s;
        }
    }
    .djs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        color: purple;
        flex-direction: row;
        .dj{
            width: 45%;
            aspect-ratio: 2;
            background-color: white;
            /* border: 2px solid white; */
            margin: 10px auto;
            border-radius: 20px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            padding: 0%;
            img{
                height: 100%;
                width: 50%;
                border-radius: 20px 0 0 20px;
            }
            .details{
                width: 45%;
                text-align: left;
                h1{
                    margin: 30px 0;
                    text-align: left;
                    color: black;
                }
                p{
                    margin: 0;
                }
                h2{
                    color: red;
                }
            }
            
            button{
                border: none;
                background-color: green;
                border-radius: 10px;
                font-size: 20px;
                color: white;
                padding: 7px 13px;
            }
        }
    }
    .catagory{
        .sub-catagory{
            width: 50vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 70px;
        }
        .cat-dj{
            width: 48%;
            margin-top: 70px;
        }
        .cat-oth{
            width: 44%;
            aspect-ratio: 1.1;
        }
    }
    .desc{
        margin: 80px 300px 0;
        font-size: 15px;
    }
  }