body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px 0 0;
}

.dates {
    padding: 10px;
    width: 90vw;
    overflow-x: auto;
    display: flex;
    justify-content: safe;
    scroll-behavior: smooth;
}

.dates::-webkit-scrollbar {
    display: none;
  }

.cntr {
    display: flex;
    justify-content: center;
}

.date {
    height: 85px;
    width: 60px;
    padding: 0 6px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: auto 15px;
    text-align: center;
    cursor: pointer;
    flex-shrink: 0; /* Prevent dates from shrinking */
}

.date h4 {
    margin: 10px auto 6px;
    color: gray;
}

.date h2 {
    margin: 0;
}

.avalability {
    width: 5px;
    height: 5px;
    background-color: green;
    border-radius: 50%;
    margin: 7px 3px;
}

a{
    text-decoration: none;
}

.date.selected {
    background-color: white;
    color: black;
    border-color: royalblue;
}
.djs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: purple;
    .dj{
        width: 45%;
        aspect-ratio: 0.7;
        background-color: white;
        border: 2px solid white;
        margin: 10px auto;
        border-radius: 20px;
        text-align: center;
        img{
            width: 100%;
            border-radius: 20px 20px 0 0;
        }
        h4{
            margin: 5px auto;
            font-size: 100%;
        }
        p{
            margin: 10px;
        }
        button{
            border: none;
            background-color: green;
            border-radius: 10px;
            font-size: 20px;
            color: white;
            padding: 7px 13px;
        }
    }
}
.catagory{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .cat-dj{
        margin-top: 20px;
        width: 90%;
        aspect-ratio: 2;
        background-image: url("https://i.ytimg.com/vi/pXmYk1Wuqa0/maxresdefault.jpg");
        background-size: cover;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 90px;
        font-weight: bolder;
        text-shadow: 2px 2px 10px black;
        color: rgba(255, 255, 255, 0.577);
        transition: all 0.3s;
    }
    .cat-oth{
        margin-top: 18px;
        width: 43%;
        aspect-ratio: 1.1;
        /* background-image: url("https://i.ytimg.com/vi/YoapuNLVUF8/maxresdefault.jpg"); */
        background-size: cover;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align:center;
        justify-content: flex-end;
        font-size: 25px;
        font-weight: bolder;
        text-shadow: 2px 2px 10px black;
        color: rgb(255, 255, 255);
        transition: all 0.3s;
        padding-bottom: 15px;
    }
    .cat-oth:nth-child(2){
        background-image: url("https://shaadiwish.com/blog/wp-content/uploads/2022/08/accent-fairy-lights-decor-17.jpg");
    }
    .cat-oth:nth-child(3){
        background-image: url("https://t3.ftcdn.net/jpg/06/60/12/92/360_F_660129269_rqFR78uAZ8MCUuLbvo9WLoJvsyUXkG8f.jpg");
    }
    .cat-oth:nth-child(4){
        background-image: url("https://5.imimg.com/data5/ANDROID/Default/2021/5/IP/IA/BO/13372070/product-jpeg.jpg");
    }
    .cat-oth:nth-child(5){
        background-image: url("https://5.imimg.com/data5/YK/LH/MY-49574912/platinum-package-500x500.jpg");
    }
    .cat-dj:hover, .cat-oth:hover{
        scale: 0.95;
    }
}
.desc{
    text-align: center;
    margin: 50px 30px;
    font-size: 12px;
    color: gray;
}


@media only screen and (min-width: 720px) {
    .djs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        color: purple;
        .dj{
            width: 18%;
            aspect-ratio: 0.7;
            background-color: white;
            border: 2px solid white;
            margin: 10px auto;
            border-radius: 20px;
            text-align: center;
            img{
                width: 100%;
                border-radius: 20px 20px 0 0;
            }
            h4{
                margin: 5px auto;
                font-size: 100%;
            }
            p{
                margin: 10px;
            }
            button{
                border: none;
                background-color: green;
                border-radius: 10px;
                font-size: 20px;
                color: white;
                padding: 7px 13px;
            }
        }
    }
    .catagory{
        .cat-dj{
            width: 28%;
            margin-top: 120px;
        }
        .cat-oth{
            width: 14%;
            aspect-ratio: 1;
            margin-top: 120px;
        }
    }
    .desc{
        margin: 130px 300px 0;
        font-size: 17px;
    }
  }