body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

.loading{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 2;
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
    color: rgb(255, 196, 0);
    text-align: center;
    h1{
        color: rgb(255, 196, 0);
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: -5px 0;
        font-size: 100px;
        animation: bounce 2.5s infinite;
    }
    h5{
        color: rgb(255, 196, 0);
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 8px 0;
        text-align: center;
        font-size: 43px;
        animation: slideIn 2.5s ease-in-out forwards;
        span{
            color: red;
            margin: auto 2px;
            font-size: 38px;
            animation: pulse 3.3s 1;
        }
        
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes slideIn {
    0%, 60% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pulse {
    from {
        opacity: 0;
        font-size: 2px;
    }
    90% {
        opacity: 0;
        font-size: 2px;
    }
    to {
        opacity: 1;
    }
}

header{
    position: fixed;
    top: 30px;
    right: 30px;
    left: 30px;
    display: flex;
    justify-content: space-between;
    h1{
        color: rgb(255, 196, 0);
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: -5px 0;
    }
    h5{
        color: rgb(255, 196, 0);
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 8px 0;
        text-align: center;
        span{
            color: red;
            margin: auto 2px;
        }
        
    }
    a{
        color: white;
        margin-left: 20px;
        font-size: 20px;
        background-color: purple;
        padding: 6px 20px;
        border-radius: 20px;
        transition: all 0.2s;
    }
    a:hover {
        background-color: white;
        color: purple;
    }
}

a {
    text-decoration: none;
}

.cntr {
    display: flex;
    justify-content: center;
}
.cntr2{
    display: flex;
}

.header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px 10px black;
    color: white;
    display: flex;
    justify-content: space-evenly;

    h1 {
        color: rgb(255, 196, 0);
        font-size: 60px;
        /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        margin: 0px 20px;
    }

    h2 {
        font-size: 2.8rem;
        margin: 5px;
    }

    h3 {
        font-size: 1.2rem;
        margin: 30px auto;
    }

    .avalabilities{
        text-align: right;
        h3{
            background-color: rgba(255, 255, 255, 0.263);
            color: rgb(255, 255, 255);
            border-radius: 10px;
            padding: 20px;
            margin: 15px;
        }
    }
}

.book {
    background-color: rgb(255, 196, 0);
    width: 150px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    transition: all 0.3s;
    text-align: center;
    text-shadow: none;
    margin-right: 40px;
}

.book:hover {
    scale: 0.9;
}

.card1 {
    background-color: black;
    color: white;
    text-align: justify;

    h1 {
        text-align: center;
        color: rgb(223, 78, 223);
        font-size: 50px;
        margin: 100px auto 100px;
    }

    img {
        width: 100%;
    }

    .side {
        width: 40vw;
        margin: auto 2vw;
        line-height: 35px;
        font-size: 1vw;
    }

    .side2 {
        width: 60vw;
        margin: auto 2vw;
        display: flex;
        justify-content: space-evenly;

        img {
            height: 20vw;
            width: auto;
            border-radius: 20px;
        }
    }
}

.galary {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;

    img {
        width: 20%;
        border-radius: 20px;
    }
}

.connect {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px 0px;

    h1 {
        font-size: 36px;
        color: yellow;
        margin: 40px auto;
    }

    .left {
        width: 45vw;
        border-right: 2px solid white;
        h1{
            font-size: 27px
        }
        h5{
            margin: 5px;
            color: gray;
        }
        img{
            width: 30px;
            border-radius: 50%;
            margin: 20px 10px;
        }
        a{
            transition: all 0.3s;
        }
        a:hover{
            scale: 1.1;
        }
    }

    .right {
        width: 45vw;

        a{
            width: 12%;
            margin: 10px;
            transition: all 0.2s;
            img {
                width: 100%;
                border-radius: 15px;
            }
        }
        a:hover{
            scale: 1.1;
        }
        
    }
}

.prfle {
    width: 110px !important;
    border-radius: 50%;
    margin: 10px auto;
}

.responsive-map {
    overflow: hidden;
    padding-bottom: 36.25%;
    border-radius: 10px;
    position: relative;
    height: 0;
    width: 80%;
    margin: 5% 10%;
}

.responsive-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.footer{
    background-color: black;
    img{
        width: 100%;
    }
}

@media only screen and (max-width: 720px) {
    .loading{
        h1{
            margin: -5px 0;
            font-size: 60px;
        }
        h5{
            margin: 12px 0;
            font-size: 25px;
            span{
                font-size: 24px;
            }
            
        }
    }
    .header{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 110px 0 0px;
        h1 {
            font-size: 1.8rem;
            margin: 5px 10px;
        }
    
        h2 {
            font-size: 1.6rem;
            margin: 5px;
        }
    
        h3 {
            font-size: 0.7rem;
            text-align: center;
            padding: 0px 30px;
        }
        
        .cntr2{
            display: flex;
            justify-content: center;
        }
        .mob-l-2{
            margin-left: 15px;
        }
    
        .avalabilities{
            text-align: center;
            h3{
                padding: 15px;
                font-size: 0.9rem;
                margin: 5px;
            }
        }
    }
    .book {
        width: 100px;
        font-size: 15px;
        margin: 20px;
    }
    header{
        h1{
            margin: -5px 0;
            font-size: larger;
        }
        a{
            color: white;
            margin-left: 10px;
            font-size: 12px;
            background-color: purple;
            padding: 5px 15px;
            border-radius: 20px;
            transition: all 0.2s;
        }
        h5{
            margin: 9px 0;
            font-size: 8px;
            span{
                color: red;
                margin: auto 2px;
            }
            
        }
    }
    .card1{
        h1{
            font-size: 30px;
            margin: 10px auto 40px;
        }
        .side {
            width: 90vw;
            margin: auto 5vw;
            text-align: center;
            line-height: 20px;
            font-size: 2vw;
            font-weight: normal !important;
        }
        .cntr{
            flex-direction: column;
        }
        .side2 {
            width: 90vw;
            margin: 20px 5vw;
            display: flex;
            justify-content: space-evenly;
    
            img {
                height: 30vw;
                width: auto;
                border-radius: 20px;
            }
        }
    }
    .connect{
        flex-direction: column;
        padding: 10px 0px;
        h1 {
            margin: 20px auto;
        }
        .left {
            width: 100vw;
            border-right: none;
            h1{
                font-size: 22px;
            }
            h3{
                font-size: 14px;
            }
            img{
                width: 25px;
            }
            .prfle {
                width: 90px !important;
                border-radius: 50%;
                margin: 10px auto;
            }
            h5{
                font-size: 10px;
            }
            .cntr{
                justify-content: space-evenly;
            }
        }
        .right {
            width: 100vw;
            border-right: 2px solid white;
            h1 {
                margin: 50px auto 30px;
            }
        }
        .cntr{
            flex-direction: row;
        }
    }
}