<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sai Music - Admin Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/particle.css' %}">
    <style>
       
    </style>
</head>
<body>
    <header id="header">
        <div>
            <img id="himage" src="{% static 'images/sai music logo.png' %}" alt="">
        </div>
        <div>
            <a href="{% url 'booking' %}" style="background-color: rgb(22, 40, 130);">Book Now</a>
        </div>
    </header>
    <div id="particles-js"></div>
    <div class="row">
        <div class="box">
            <h1>Admin Login</h1>
            <form action="" method="post" onsubmit="handleSubmit()">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Enter Your Email" id="email">
                <div class="row2"><button type="submit" id="submitButton">Proceed</button></div>
            </form>
        </div>
    </div>

    <script>
        function handleSubmit() {
            const submitButton = document.getElementById('submitButton');
            submitButton.disabled = true;
            submitButton.textContent = "Please wait...";
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js" type="text/javascript"></script>
    <script src="{% static 'js/particle.js' %}"></script>
</body>
</html>