<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sai Music - Booking</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bookingOthers.css' %}">
    <link rel="stylesheet" href="{% static 'css/particle.css' %}">
</head>

<body>
    <header id="header">
        <div>
            <img id="himage" src="{% static 'images/sai music logo.png' %}" alt="">
            <!-- <h5>DJ Abhi <span>x</span> Rout Broz</h5> -->
        </div>
        <div>
            <a href="{% url 'booking_date' %}" style="background-color: red;">Select Date</a>
        </div>
    </header>
    <div id="particles-js"></div>
    <!-- <section class="card1">
        <div class="logo">

        </div>
        <div class="date">
            <a href="{% url 'booking_date' %}">Select Date</a>
        </div>
    </section> -->
    <br><br>
    <div class="options">
        <button class="active" >Lights</button>
        <button>Sound Systems</button>
        <button>Decorations</button>
        <button>Catering Items</button>
    </div>
    <section class="card2">
        <div class="djs">
            <div class="dj">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkV4pd94hXWmJ52nzK8E8mFQdVHT6KMmO3VmL6W7AkbePrZ8dSvABYUpVYeUyJKiDrj2A&usqp=CAU" alt="">
                <h4>32,000</h4>
                <p>
                    Speaker With Display
                </p>
                <div class="plus-minus">
                    <div class="number">
                        <span class="minus">-</span>
                        <input type="text" value="1"/>
                        <span class="plus">+</span>
                    </div>
                </div>
            </div>
            <div class="dj">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyridawYGPIKGwupzyG_kZb6_7XgulzcVukw&s" alt="">
                <h4>40,000</h4>
                <p>
                    Square Speaker with 4 mini speakers
                </p>
                <div class="plus-minus">
                    <div class="number">
                        <span class="minus">-</span>
                        <input type="text" value="1"/>
                        <span class="plus">+</span>
                    </div>
                </div>
            </div>
            <div class="dj">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkV4pd94hXWmJ52nzK8E8mFQdVHT6KMmO3VmL6W7AkbePrZ8dSvABYUpVYeUyJKiDrj2A&usqp=CAU" alt="">
                <h4>32,000</h4>
                <p>
                    Speaker With Display
                </p>
                <div class="plus-minus">
                    <div class="number">
                        <span class="minus">-</span>
                        <input type="text" value="1"/>
                        <span class="plus">+</span>
                    </div>
                </div>
            </div>
            <div class="dj">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyridawYGPIKGwupzyG_kZb6_7XgulzcVukw&s" alt="">
                <h4>40,000</h4>
                <p>
                    Square Speaker with 4 mini speakers
                </p>
                <div class="plus-minus">
                    <div class="number">
                        <span class="minus">-</span>
                        <input type="text" value="1"/>
                        <span class="plus">+</span>
                    </div>
                </div>
            </div>
            <div class="dj">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkV4pd94hXWmJ52nzK8E8mFQdVHT6KMmO3VmL6W7AkbePrZ8dSvABYUpVYeUyJKiDrj2A&usqp=CAU" alt="">
                <h4>32,000</h4>
                <p>
                    Speaker With Display
                </p>
                <div class="plus-minus">
                    <div class="number">
                        <span class="minus">-</span>
                        <input type="text" value="1"/>
                        <span class="plus">+</span>
                    </div>
                </div>
            </div>
            <div class="dj">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyridawYGPIKGwupzyG_kZb6_7XgulzcVukw&s" alt="">
                <h4>40,000</h4>
                <p>
                    Square Speaker with 4 mini speakers
                </p>
                <div class="plus-minus">
                    <div class="number">
                        <span class="minus">-</span>
                        <input type="text" value="1"/>
                        <span class="plus">+</span>
                    </div>
                </div>
            </div>
            <div class="dj">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkV4pd94hXWmJ52nzK8E8mFQdVHT6KMmO3VmL6W7AkbePrZ8dSvABYUpVYeUyJKiDrj2A&usqp=CAU" alt="">
                <h4>32,000</h4>
                <p>
                    Speaker With Display
                </p>
                <div class="plus-minus">
                    <div class="number">
                        <span class="minus">-</span>
                        <input type="text" value="1"/>
                        <span class="plus">+</span>
                    </div>
                </div>
            </div>
            <div class="dj">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyridawYGPIKGwupzyG_kZb6_7XgulzcVukw&s" alt="">
                <h4>40,000</h4>
                <p>
                    Square Speaker with 4 mini speakers
                </p>
                <div class="plus-minus">
                    <div class="number">
                        <span class="minus">-</span>
                        <input type="text" value="1"/>
                        <span class="plus">+</span>
                    </div>
                </div>
            </div>
            <div class="dj">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkV4pd94hXWmJ52nzK8E8mFQdVHT6KMmO3VmL6W7AkbePrZ8dSvABYUpVYeUyJKiDrj2A&usqp=CAU" alt="">
                <h4>32,000</h4>
                <p>
                    Speaker With Display
                </p>
                <div class="plus-minus">
                    <div class="number">
                        <span class="minus">-</span>
                        <input type="text" value="1"/>
                        <span class="plus">+</span>
                    </div>
                </div>
            </div>
            <div class="dj">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyridawYGPIKGwupzyG_kZb6_7XgulzcVukw&s" alt="">
                <h4>40,000</h4>
                <p>
                    Square Speaker with 4 mini speakers
                </p>
                <div class="plus-minus">
                    <div class="number">
                        <span class="minus">-</span>
                        <input type="text" value="1"/>
                        <span class="plus">+</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="cntr"><a href="{% url 'booking_others' %}" class="btn">Proceed</a></div><br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        	$(document).ready(function() {
			$('.minus').click(function () {
				var $input = $(this).parent().find('input');
				var count = parseInt($input.val()) - 1;
				count = count < 1 ? 1 : count;
				$input.val(count);
				$input.change();
				return false;
			});
			$('.plus').click(function () {
				var $input = $(this).parent().find('input');
				$input.val(parseInt($input.val()) + 1);
				$input.change();
				return false;
			});
		});
    </script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js" type="text/javascript"></script>
    <script src="{% static 'js/particle.js' %}"></script>
</body>

</html>
