<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date Picker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bookingOthers.css' %}">
</head>

<body>
    <section class="card1">
        <div class="options">
            <button class="active" >Lights</button>
            <button>Sound Systems</button>
            <button>Decorations</button>
            <button>Catering Items</button>
        </div>
        <div class="date">
            <a href="{% url 'booking_date' %}">Select Date</a>
        </div>
    </section>
    <section class="card2">
        <div class="djs">
            <div class="dj">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkV4pd94hXWmJ52nzK8E8mFQdVHT6KMmO3VmL6W7AkbePrZ8dSvABYUpVYeUyJKiDrj2A&usqp=CAU" alt="">
                <h4>32,000</h4>
                <p>
                    Speaker With Display
                </p>
                <div class="cntr"><button>Book Now</button></div>
            </div>
            <div class="dj">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyridawYGPIKGwupzyG_kZb6_7XgulzcVukw&s" alt="">
                <h4>40,000</h4>
                <p>
                    Square Speaker with 4 mini speakers
                </p>
                <div class="cntr"><button>Book Now</button></div>
            </div>
            <div class="dj">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkV4pd94hXWmJ52nzK8E8mFQdVHT6KMmO3VmL6W7AkbePrZ8dSvABYUpVYeUyJKiDrj2A&usqp=CAU" alt="">
                <h4>32,000</h4>
                <p>
                    Speaker With Display
                </p>
                <div class="cntr"><button>Book Now</button></div>
            </div>
            <div class="dj">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyridawYGPIKGwupzyG_kZb6_7XgulzcVukw&s" alt="">
                <h4>40,000</h4>
                <p>
                    Square Speaker with 4 mini speakers
                </p>
                <div class="cntr"><button>Book Now</button></div>
            </div>
        </div>
    </section>
    
</body>

</html>
