<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sai Music - Booking</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
    <link rel="stylesheet" href="{% static 'css/particle.css' %}">
</head>

<body>
    <header id="header">
        <div>
            <img id="himage" src="{% static 'images/sai music logo.png' %}" alt="">
            <!-- <h5>DJ Abhi <span>x</span> Rout Broz</h5> -->
        </div>
        <div>
            <a href="{% url 'check_status' %}">Status</a>
            <a href="{% url 'admin_login' %}">Login</a>
        </div>
    </header>
    <div id="particles-js"></div>
    <br><br>
    <h1>Continue Booking</h1>
    <br>
    <div class="catagory">
        <a href="{% url 'booking_dj' %}" class="cat-dj">
            DJs
        </a>
        <div class="sub-catagory">
            <a href="{% url 'booking_date' %}" class="cat-oth">
                Lights
            </a>
            <a href="" class="cat-oth">
                Sound Systems
            </a>
            <a href="" class="cat-oth">
                Decorations
            </a>
            <a href="" class="cat-oth">
                Catering
            </a>
        </div>
    </div>
    <div class="desc">
        Book top-tier DJs, state-of-the-art lighting, and premium sound systems for your next event. Whether it's a wedding, corporate function, or private party, our expert team will create an unforgettable experience tailored to your needs. Elevate your celebration with the best in entertainment and ambiance.
    </div>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js" type="text/javascript"></script>
    <script src="{% static 'js/particle.js' %}"></script>
</body>

</html>
