<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sai Music, Bhadrak</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style>
        .header {
            background-image: url("{% static 'images/header2.jpg' %}");
        }
    </style>
</head>

<body>
    <section class="loading">
        <div>
            <img src="{% static 'images/sai music logo.png' %}" alt="">
            <!-- <h1>SAI MUSIC</h1> -->
            <!-- <h5>DJ Abhi <span>x</span> Rout Broz</h5> -->
            <h5>In Association with Rout Broz</h5>
        </div>
    </section>
    <header id="header">
        <div>
            <img id="himage" src="{% static 'images/sai music logo.png' %}" alt="">
            <!-- <h5>DJ Abhi <span>x</span> Rout Broz</h5> -->
        </div>
        <div>
            <a href="{% url 'check_status' %}">Status</a>
            <a href="{% url 'admin_login' %}">Login</a>
        </div>
    </header>
    <section class="header">
        <div>
            <div class="mob-l-2">
                <div style="display: flex;">
                    <h2>Make Your </h2>
                    <h1 class="text">
                        <p>
                            <span class="word ">CELEBRATION</span>
                            <span class="word wisteria">MARRAGE</span>
                            <span class="word belize">BHASANI</span>
                            <span class="word pomegranate">FESTIVAL</span>

                        </p>
                    </h1>
                </div>
                <h2>Unforgottable</h2>
            </div>
            <h3>By Truss Light & DJ Sound: Music is the heartbeat of every celebration.<br>Trust us to make your event
                truly memorable.</h3>
            <div class="cntr2">
                <a href="{% url 'booking' %}" class="cntr">
                    <div class="book">Book Now</div>
                </a>
                <a href="#contact" class="cntr">
                    <div class="book" style="background-color: rgb(198, 35, 35); color: white;">Contact Us</div>
                </a>
            </div>
        </div>
        <div>
            <div class="avalabilities">
                <h3>Different varities of DJs</h3>
                <h3>Sparkling lasser & non-lesser lights</h3>
                <h3>Vibrating High Qality Speakers</h3>
                <h3>Exclusive Tunes & Music Collections</h3>
                <h3>1000+ Happy Celebrations</h3>
                <h3>4000+ Satisfied Customers</h3>
            </div>
        </div>
    </section>
    <section class="card1">
        <br><br><br>
        <h1>Religious Wedding</h1>
        <div class="cntr">
            <div class="side">
                <h2>A religious wedding ceremony is a sacred and traditional event that celebrates the union of two
                    individuals in accordance with the customs, rituals, and beliefs of their faith. It typically
                    involves various symbolic gestures, prayers, blessings, and readings from religious texts that
                    signify the commitment and spiritual significance of marriage</h2>
            </div>
            <div class="side2">
                <img src="https://images.ctfassets.net/77l22z9el0aa/6V8yIOmS3LBVMBJHp6gWhg/deca065a855a5f9c4618a8d6e1a5e44c/AntonDrummondPhotography_HeroImage_1080x720.jpg"
                    alt="">
                <img src="https://www.brides.com/thmb/VnAlJAzPcatFEfwfOvqwfCd7i7Y=/1500x0/filters:no_upscale():max_bytes(200000):strip_icc()/RECIRC4-0de601149cf7459faf7dd4347f18aec7.jpg"
                    alt="">
            </div>
        </div><br>
        <img src="{% static 'images/wave1.jpg' %}" alt="">
    </section>
    <section class="card1">
        <br>
        <!-- <h1 style="margin-top: 20px;">Spiritual Celebration</h1> -->
        <h1 style="margin-top: 20px;">Puja Bhasani</h1>
        <div class="cntr">
            <div class="side2">
                <img src="{% static 'images/ganesh.jpg' %}" alt="">
                <img src="{% static 'images/puja.jpg' %}" alt="">
            </div>
            <div class="side">
                <h2>At a devotional festival, a DJ and music elevate the experience to new heights, blending traditional
                    melodies with contemporary beats. The rhythmic sounds create an atmosphere of joy and celebration,
                    encouraging everyone to dance and connect. This fusion of music transforms the event, making it an
                    unforgettable celebration of spirituality and community.</h2>
            </div>
        </div><br>
    </section>
    <section class="card1">
        <br>
        <h1 style="color: rgb(82, 82, 255);">Galary</h1>

        <div class="galary">
            <img src="{% static 'images/galary6.jpg' %}" alt="">
            <img src="{% static 'images/galary1.jpg' %}" alt="">
            <img src="{% static 'images/galary7.jpg' %}" alt="">
            <img src="{% static 'images/galary4.jpg' %}"
                alt="">
        </div>
    </section>
    <br>
    <a href="{% url 'booking' %}" class="cntr">
        <div class="book">Book Now</div>
    </a>
    <section class="card1">
        <div class="connect" id="contact">
            <div class="left">
                <div class="cntr">
                    <div>
                        <h1>Administrator</h1>
                        <div class="cntr">
                            <img class="prfle"
                                src="{% static 'images/Abhinandan.jpg' %}"
                                alt="">
                        </div>
                        <h3>Abhinandan Nayak</h3>
                        <h5>+91 7077665833</h5>
                        <h5>abhinandanbablu18@gmail.com</h5>
                        <div class="cntr">
                            <a href="tel:+917077665833"><img src="{% static 'images/dialer.png' %}" alt=""></a>
                            <a href="mailto:abhinandanbablu18@gmail.com"><img src="{% static 'images/mail.png' %}"
                                    alt=""></a>
                            <a href="https://www.instagram.com/aabhii__7?igsh=azNobXh2Y3kzZTA4"><img src="{% static 'images/instagram (1).png' %}" alt=""></a>
                        </div>
                    </div>
                    <div>
                        <h1>Coordinator</h1>
                        <div class="cntr">
                            <img class="prfle"
                                src="https://thumbs.dreamstime.com/b/dj-avatar-icon-simple-style-illustration-vector-web-design-isolated-white-background-164370922.jpg"
                                alt="">
                        </div>
                        <h3>DJ Pappu (Paresh)</h3>
                        <h5>+91 8917676498</h5>
                        <h5>paresh662@gmail.com</h5>
                        <div class="cntr">
                            <a href="tel:+918917676498"><img src="{% static 'images/dialer.png' %}" alt=""></a>
                            <a href="mailto:paresh662@gmail.com"><img src="{% static 'images/mail.png' %}" alt=""></a>
                            <a href=""><img src="{% static 'images/instagram (1).png' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <h1>Get Connected On</h1>
                <div class="cntr">
                    <a href=""><img src="{% static 'images/mail.png' %}" alt=""></a>
                    <a href=""><img src="{% static 'images/youtube (1).png' %}" alt=""></a>
                    <a href=""><img src="{% static 'images/facebook (3).png' %}" alt=""></a>
                    <a
                        href="https://www.instagram.com/smusicbhadrak_7/?fbclid=IwY2xjawEi6GhleHRuA2FlbQIxMAABHYenRdvnZ6Hye8ircyHidfeitcstvEvwXzxRNCZTaMBtks49SGJkqM0QcA_aem_Nwd3g1whwWIpptFRqwTaug"><img
                            src="{% static 'images/instagram (1).png' %}" alt=""></a>
                </div>
                <div class="responsive-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11963.324350819881!2d86.57772732443597!3d21.03185983534933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1bf541ba0ee375%3A0xd615f8a2993d5e0d!2sS%20MUSIC%20BHADRAK!5e0!3m2!1sen!2sin!4v1723027000803!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <img src="{% static 'images/wave2.jpg' %}" alt="">
    </section>
    <script>
        window.onload = function () {
            setTimeout(function () {
                document.getElementsByClassName('loading')[0].style.display = 'none';
            }, 5000);
        };

        var words = document.getElementsByClassName('word');
        var wordArray = [];
        var currentWord = 0;

        words[currentWord].style.opacity = 1;
        for (var i = 0; i < words.length; i++) {
            splitLetters(words[i]);
        }

        function changeWord() {
            var cw = wordArray[currentWord];
            var nw = currentWord == words.length - 1 ? wordArray[0] : wordArray[currentWord + 1];
            for (var i = 0; i < cw.length; i++) {
                animateLetterOut(cw, i);
            }

            for (var i = 0; i < nw.length; i++) {
                nw[i].className = 'letter behind';
                nw[0].parentElement.style.opacity = 1;
                animateLetterIn(nw, i);
            }

            currentWord = (currentWord == wordArray.length - 1) ? 0 : currentWord + 1;
        }

        function animateLetterOut(cw, i) {
            setTimeout(function () {
                cw[i].className = 'letter out';
            }, i * 80);
        }

        function animateLetterIn(nw, i) {
            setTimeout(function () {
                nw[i].className = 'letter in';
            }, 340 + (i * 80));
        }

        function splitLetters(word) {
            var content = word.innerHTML;
            word.innerHTML = '';
            var letters = [];
            for (var i = 0; i < content.length; i++) {
                var letter = document.createElement('span');
                letter.className = 'letter';
                letter.innerHTML = content.charAt(i);
                word.appendChild(letter);
                letters.push(letter);
            }

            wordArray.push(letters);
        }

        changeWord();
        setInterval(changeWord, 4000);


    </script>
    <script>
        window.addEventListener('scroll', function() {
            const header = document.getElementById('header');
            const himage = document.getElementById('himage');
            const scrollPosition = window.scrollY || document.documentElement.scrollTop;
    
            // Detect screen width
            const screenWidth = window.innerWidth || document.documentElement.clientWidth;
    
            if (scrollPosition > 100) { // Trigger action after scrolling 100px
                header.style.backgroundColor = 'rgba(0, 0, 0, 0.438)';
                header.style.backdropFilter = 'blur(10px)';
                header.style.webkitBackdropFilter = 'blur(10px)';
    
                if (screenWidth <= 768) { // Mobile screen size
                    himage.style.width = "150px";
                } else {
                    himage.style.width = "180px";
                }
                himage.style.margin = "0 0 0 0";
            } else {
                header.style.backgroundColor = 'rgba(0, 0, 0, 0)';
                header.style.backdropFilter = 'blur(0px)';
                header.style.webkitBackdropFilter = 'blur(0px)';
    
                if (screenWidth <= 768) { // Mobile screen size
                    himage.style.width = "230px";
                    himage.style.margin = "80px 0 0 00px";
                } else {
                    himage.style.width = "320px";
                    himage.style.margin = "30px 0 0 30px";
                }
            }
        });
    </script>
    
</body>

</html>